<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Ан-74МП</string>
		<key>type</key>
		<string>Самолет создан на базе самолета Ан-74.

Самолет обеспечивает несение морской патрульной службы и обнаружение нарушителей в прилегающей к побережью зоне днем и ночью в простых и сложных метеоусловиях.

Дополнительно оборудование грузового отсека (7 м длиной) позволяет выполнять:

воздушное десантирование 22 парашютистов с личным оружием и снаряжением;
перевозку 44 солдат с личным оружием и снаряжением;
перевозку 16 раненых на носилках в сопровождении медработника;
перевозку боеприпасов, материальных средств и технического имущества общей массой до 10000 кг.
Для решения задач патрулирования состав экипажа дополнен штурманом и радистом, для которых оборудованы отдельные рабочие места. Оба рабочих места расположены возле блистеров для ведения визуального контроля поверхности суши или акватории моря.

Самолет оборудуется:

прицельно-навигационным и пилотажным комплексом, обеспечивающим автоматическое самолетовождение на всех этапах полета, вывод самолета в заданную точу, аппаратурный поиск, определение координат надводных судов, их скоростей и курсов движения;
стационарным фотооборудованием, обеспечивающим аэрофотосъемку целей;
в дневное время плановую и перспективную с привязкой места к географическим координатам;
ночное время плановую с использованием осветительных бомб;
радиосвязным оборудованием, обеспечивающим связь с наземными пунктами и между самолетами, радионаведение на обнаруженные суда пограничного или другого корабля в МВ-, ДМВ-, СВ- и КВ-диапазонах;
вооружением, обеспечивающим создание препятствий движению судов-нарушителей, открытием огня из 23-миллиметровой пушки ГШ-23Л, пуском неуправляемых ракет из блоков УБ-32М и сбросом авиабомб калибром 100 кг;
телевизионной системой обзора подстилающей поверхности, обеспечивающей работу в ночных и дневных условиях.
Грузовая кабина герметична, оборудована системой кондиционирования воздуха, создающей комфортные условия на высотах до 10000 м, и может быть использована для перевозки людей на бортовых и центральных съемных сиденьях, включая сиденья на рампе. Бортовые сиденья откидные и могут не сниматься при использовании самолета в грузовом варианте.

В хвостовой части кабины расположен большой грузовой люк. Проем грузового люка закрывается рампой, которая может либо опускаться на землю и служить трапом для загрузки колесной техники, либо сдвигаться под фюзеляж, полностью освобождая проем люка для загрузки самолета с кузова автомобиля или для воздушного десантирования парашютистов.

Для выполнения погрузочно-разгрузочных работ на потолке грузовой кабины имеется погрузочное устройство грузоподъемностью 2500 кг, а на полу предусмотрена установка съемного рольгангового оборудования.</string>
		<key>projectionImageTitle</key>
		<string>Ан-74МП-Projection</string>
		<key>description</key>
		<string>Самолет создан на базе самолета Ан-74.

Самолет обеспечивает несение морской патрульной службы и обнаружение нарушителей в прилегающей к побережью зоне днем и ночью в простых и сложных метеоусловиях.

Дополнительно оборудование грузового отсека (7 м длиной) позволяет выполнять:

воздушное десантирование 22 парашютистов с личным оружием и снаряжением;
перевозку 44 солдат с личным оружием и снаряжением;
перевозку 16 раненых на носилках в сопровождении медработника;
перевозку боеприпасов, материальных средств и технического имущества общей массой до 10000 кг.
Для решения задач патрулирования состав экипажа дополнен штурманом и радистом, для которых оборудованы отдельные рабочие места. Оба рабочих места расположены возле блистеров для ведения визуального контроля поверхности суши или акватории моря.

Самолет оборудуется:

прицельно-навигационным и пилотажным комплексом, обеспечивающим автоматическое самолетовождение на всех этапах полета, вывод самолета в заданную точу, аппаратурный поиск, определение координат надводных судов, их скоростей и курсов движения;
стационарным фотооборудованием, обеспечивающим аэрофотосъемку целей;
в дневное время плановую и перспективную с привязкой места к географическим координатам;
ночное время плановую с использованием осветительных бомб;
радиосвязным оборудованием, обеспечивающим связь с наземными пунктами и между самолетами, радионаведение на обнаруженные суда пограничного или другого корабля в МВ-, ДМВ-, СВ- и КВ-диапазонах;
вооружением, обеспечивающим создание препятствий движению судов-нарушителей, открытием огня из 23-миллиметровой пушки ГШ-23Л, пуском неуправляемых ракет из блоков УБ-32М и сбросом авиабомб калибром 100 кг;
телевизионной системой обзора подстилающей поверхности, обеспечивающей работу в ночных и дневных условиях.
Грузовая кабина герметична, оборудована системой кондиционирования воздуха, создающей комфортные условия на высотах до 10000 м, и может быть использована для перевозки людей на бортовых и центральных съемных сиденьях, включая сиденья на рампе. Бортовые сиденья откидные и могут не сниматься при использовании самолета в грузовом варианте.

В хвостовой части кабины расположен большой грузовой люк. Проем грузового люка закрывается рампой, которая может либо опускаться на землю и служить трапом для загрузки колесной техники, либо сдвигаться под фюзеляж, полностью освобождая проем люка для загрузки самолета с кузова автомобиля или для воздушного десантирования парашютистов.

Для выполнения погрузочно-разгрузочных работ на потолке грузовой кабины имеется погрузочное устройство грузоподъемностью 2500 кг, а на полу предусмотрена установка съемного рольгангового оборудования.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Ан-32П</string>
		<key>type</key>
		<string>Самолёт для тушения лесных пожаров</string>
		<key>projectionImageTitle</key>
		<string>Ан-32П-Projection</string>
		<key>description</key>
		<string>Самолет создан на базе серийного транспортного самолета Ан-32 и обеспечивает выполнение следующих операций по охране и защите леса:

тушение лесных пожаров огнегасящей жидкостью;
десантирование парашютистов-пожарных, специального оборудования, снаряжения и грузов к местам лесных пожаров.
В течение более чем 10 лет эксплуатации были подтверждены расчетные летно-технические характеристики самолета. При сбросе 8 т огнегасящей жидкости из двух групп баков с высоты 40-50 м, при  скорости самолета 240-260 км/ч на поверхности земли создается водяное пятно с концентрацией жидкости более 1 л/м2 длиной 120-160 м и шириной 10-35 м. Слив огнегасящей жидкости может происходить одновременно (залпом) или последовательно из двух баков одного борта, а затем другого  с автоматической задержкой или с ручным управлением.

Два самолета использовались при тушении горно-лесного пожара в окрестностях Ялты, (Украина). Опыт их применения (около 100 полетов над горной местностью) показал высокую эффективность этих самолетов. Три самолета были направлены на опытную эксплуатацию в Португалию. Работая очень напряженно (в день на каждом самолете совершалось до 10-12 вылетов), группа выполнила 545 вылетов на тушение пожаров. Летные качества и эффективность самолета как средства тушения пожаров были высоко оценены участвующими в опытной эксплуатации специалистами.

В период отсутствия пожаров предусмотрено переоборудование самолета в аэродромных условиях в стандартный транспортный вариант для перевозки грузов. Для выполнения транспортных операций на самолете имеются:

большой грузовой люк в хвостовой части фюзеляжа, закрывающийся рампой, которая может опускаться на землю и служить трапом или сдвигаться под фюзеляж, что обеспечивает быструю загрузку грузов в самолет с борта автомобиля и удобство при парашютном сбросе грузов и людей;
погрузочное устройство грузоподъемностью 3 т.
Размеры грузовой кабины (длина 12,48 м, ширина 2,78 м и высота 1,84 м) и люка обеспечивают перевозку различных грузов, самоходной и несамоходной колесной техники. Грузовая кабина герметична и оборудована системой кондиционирования воздуха.

Самолет обладает следующими основными особенностями:

высокой степенью надежности конструкции и систем, безопасностью эксплуатации, проверенными в процессе длительного срока службы базового самолета Ан-32;
возможностью эксплуатации на грунтовых аэродромах благодаря конструкции шасси с пневматиками низкого давления и высокому расположению двигателей, исключающему попадание посторонних предметов в воздухозаборник
высокой энерговооруженностью, позволяющей выполнять полеты с крутыми траекториями при работе в горных условиях;
автономностью эксплуатации с возможностью запуска двигателей от ВСУ;
способностью выполнять полеты в сложных метеоусловиях.
Авиарегистр Межгосударственного Авиационного Комитета и Укравиатранс в 1995 годау выдали Сертификаты типа специальной категории на самолет Ан-32П.

В настоящее время серийное производство самолета выполняется на «Серийном заводе «Антонов».</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Ан-3СХ</string>
		<key>type</key>
		<string>Легкий сельскохозяйственный самолет</string>
		<key>projectionImageTitle</key>
		<string>Ан-3СХ-Projection</string>
		<key>description</key>
		<string>Самолет Ан-3 является дальнейшим развитием широко известного самолета Ан-2, эксплуатирующегося во многих странах мира на протяжении 50 лет.

Всего заводами в СССР, Польше и Китае было выпущено более 15500 самолетов Ан-2. В Китае его производство продолжается в настоящее время. Более 6000 самолетов Ан-2 продолжают успешно эксплуатироваться в различных географических районах: в горах и пустынях, в африканских саваннах, в южноамериканской сельве, в Арктике и Антарктиде, на речных, озерных и прибрежных акваториях и многих других труднодоступных местах. Отличительной особенностью Ан-2 является его простота, высокая надежность, неприхотливость и возможность эксплуатации с грунтовых площадок длиной всего 500 м.

Модификация Ан-2 в Ан-3 заключается в замене поршневого двигателя АШ-62ИР (мощностью 1000 л.с.) на более мощный турбовинтовой двигатель ТВД-20 (мощностью 1375 л.с.) с трехлопастным реверсивным винтом АВ-17, изменении компоновки кабины экипажа, установке системы обогрева и вентиляции кабин, изменении электротехнического и пилотажно-навигационного оборудования, установке централизованной системы сигнализации, новой противопожарной системы и улучшении навесного широкозахватного сельхозоборудования.

Двигатель ТВД-20 спроектирован Омским моторостроительным конструкторским бюро (ОМКБ) и серийно изготавливается Омским моторостроительным предприятием им. П.И.Баранова.

Модификация позволила:

в 1,5 раза увеличить производительность самолета;
в 1,2 раза увеличить коммерческую нагрузку;
в 1,2 раза увеличить скорость полета;
в 1,85 раза увеличить скороподъемность самолета;
обеспечить комфортные условия экипажу, снизить уровень шума и вибрации в кабине экипажа и сделать удобным вход в нее;
повысить надежность и безопасность самолета;
сохранить возможность выполнения полетов с грунтовых площадок длиной 500 м.
Одним из важнейших итогов модификации стала возможность использования керосинов и масел, применяемых для всех других самолетов (например, Т-1, ТС-1).

31 августа 2000 г. Авиационный Регистр Межгосударственного Авиационного Комитета выдал ГП &quot;Антонов&quot; сертификат типа на самолет Ан-3Т.

Модификация Ан-2 в самолет Ан-3 осуществляется путем переоборудования самолетов Ан-2, взятых из эксплуатации, с остатком ресурса не менее 50%. 

Базовым самолетом семейства является транспортный (грузопассажирский конвертируемый) самолет Ан-3Т. Он предназначен для перевозки различных грузов на местных воздушных линиях с возможностью эксплуатации как на ВПП с искусственным покрытием, так и на грунтовых ВПП с прочностью грунта не менее 3,5 кгс/см2 и заснеженных ВПП с толщиной свежевыпавшего снега до 35 см (на колесном и лыжном шасси).

На базе Ан-3Т предусмотрено создание ряда вариантов самолета Ан-3:

сельскохозяйственный;
поплавковый;
санитарный;
бизнес-класса;
лесопатрульный;
десантный;
лесопожарный с возможностью установки сельхозоборудования Ан-2.</string>
	</dict>
</array>
</plist>
